## [Start] Prepare DynamoDB PutItem Request. **

$util.qr($context.args.input.put("created_date", $util.time.nowISO8601()))
$util.qr($context.args.input.put("last_updated_date", $util.time.nowISO8601()))
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
      "id": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.args.input.id, $util.autoId())),
      "version": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.args.input.version, $util.autoId()))
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($context.args.input),
  "condition": {
      "expression": "attribute_not_exists(#id)",
      "expressionNames": {
          "#id": "id"
    }
  }
}